p Я умею
  ul.technologies
    li 
      img(src='assets/img/sass.svg')
    li 
      img(src='assets/img/pug.svg')
    li 
      img(src='assets/img/gulp.svg')
    li 
      img(src='assets/img/webpack.svg')