
.auth__wr{
    min-height: 100vh;
    background: url(/assets/images/bg/water.jpg) center center no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;

}

.auth__header{
    
    
}

.auth__main{
    background: rgba(18, 38, 40, .6);
    width: 380px;
    justify-content: center;
}
.auth__footer{

    margin-top: auto;
   

}