
.welcome-wr{
    min-height: 100vh;
    background: url('/assets/images/bg/water.jpg') center center no-repeat;
    background-size: cover; 
    
}


.welcome{
    background: rgba(18, 38, 40, .6);
    width: 380px;
    height: 395px;
}
.welcome__user-img{
    width: 141px;
    height: 141px;
}
.welcome__pic{
    border-radius: 50%;

}

.footer_welcome{
    margin-top: auto;
}