extends ../template

block variables
  - var title = 'Обо мне'

block content
  .wrapper.wrapper_about
    section.first-screen.first-screen_about
      header.first-screen__header
        ul.socials.socials__header
          li.socials__iten
            a.socials__link(href="#") Vk
              svg.icon.icon_vk
                use()
          li.socials__iten
            a.socials__link(href="#") Git
              svg.icon.icon_vk
                use()
          li.socials__iten
            a.socials__link(href="#") In
              svg.icon.icon_vk
                use()
        nav.navigation.navigation_header
          .navigation__trigger
            a(href="#").navigation__trigger-link
              svg.icon.icon_hamburger
                use(xlink:href="/assets/img/sprite/sprite.svg#hamburger")
            .navigation__wrap
              ul.navigation__list
                li.navigation__item
                  a(href="my-works.html").navigation__link Мои работы
                li.navigation__item
                  a(href="about.html").navigation__link Обо мне
                li.navigation__item
                  a(href="blog.html").navigation__link Блог
                li.navigation__item
                  a(href="index.html").navigation__link Авторизация
        
        .first-screen__info
          .info__pic
            img.info__img(src="/", alt="Глушаков Сергей")
          h1.info__name Глушаков Сергей
          .info__descr Личный сайт веб-разработчика
          svg.portfolio-header-img
            use()
          a.slide-down(href="#")
            use()
          .triangle__wr
            svg.triangle
              .triangle__left
              .triangle__right

    section.about
      .about__left
        h2.title.title_about Обо мне
          svg.title__bg.title__bg_about
            use()
        .about__info
          .about__pic
            img.about__img(src="/", alt="Глушаков Сергей")
            h3.title.title_subtitle Кто я
            .about__text 
              p Я начинающий веб разработчик из Москвы. Мне 34 года. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво! 

      .about__right
        .skills
        h3.title.title_sub-about Чем я могу быть вам полезен
        .skills__desc
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .skills__list
          .skills__item
              .skill__title Frontend
              ul.skill__list
                  li.skill__item
                      svg.skill__circle.skill__circle_html
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name HTML5
                  li.skill__item
                      svg.skill__circle.skill__circle_css
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name CSS3
                  li.skill__item
                      svg.skill__circle.skill__circle_js
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name JavaScript  & jQuery
          .skills__item
              .skill__title Backend
              ul.skill__list
                  li.skill__item
                      svg.skill__circle.skill__circle_php
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name PHP
                  li.skill__item
                      svg.skill__circle.skill__circle_sql
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name mySQL
                  li.skill__item
                      svg.skill__circle.skill__circle_node
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name Node.js & npm
                  li.skill__item
                      svg.skill__circle.skill__circle_mongo
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name Mongo.db
          .skills__item
              .skill__title WorkFlow
              ul.skill__list
                  li.skill__item
                      svg.skill__circle.skill__circle_git
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name Git
                  li.skill__item
                      svg.skill__circle.skill__circle_gulp
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name Gulp
                  li.skill__item
                      svg.skill__circle.skill__circle_yarn
                          circle.circle.circle_gray(r="50px" cx="50%" cy="50%")
                          circle.circle.circle_green(r="50px" cx="50%" cy="50%")
                      span.skill__name Yarn


    section.map
      .myMap(id="myMap")
      .map__wr
        .contacts
          h3.title.title_sub-contacts Контакты
          ul.contacts__list
            li.contact__item
              a.contacts__link.contakts__link_skype(href="#")
                svg.icon.icon_skype
                  use()
                .contacts__text
                  | Margo301983
            li.contact__item
              a.contacts__link.contakts__link_mail(href="#")
                svg.icon.icon_mail
                  use()
                .contacts__text
                  | sergey_glushakov@mail.ru
            li.contact__item
              a.contacts__link.contakts__link_phone(href="#")
                svg.icon.icon_phone
                  use()
                .contacts__text
                  | +79295266240
            li.contact__item
              a.contacts__link.contakts__link_map(href="#")
                svg.icon.icon_map
                  use()
                .contacts__text
                  | Москва, проезд Карамзина д.1

                  
    include ../common/footer.pug 
      
        
      
       
        
      
      


