extends ../template

block variables
  - var title = 'Блог'

block content
  .wrapper.wrapper_blog
    section.first-screen.first-screen_blog
      header.first-screen__header

        ul.socials.socials__header
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_vk
                use(xlink:href="/assets/images/icons/sprite.svg#vk")
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_git
                use(xlink:href="/assets/images/icons/sprite.svg#github")
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_in
                use(xlink:href="/assets/images/icons/sprite.svg#in")

                
        nav.navigation.navigation_header
          .navigation__trigger
            a(href="#").navigation__trigger-link
              svg.icon.icon_hamburger
                use(xlink:href="/assets/images/icons/sprite.svg#hamburger")
            .navigation__wrap
              ul.navigation__list
                li.navigation__item
                  a(href="my-works.html").navigation__link Мои работы
                li.navigation__item
                  a(href="about.html").navigation__link Обо мне
                li.navigation__item
                  a(href="blog.html").navigation__link Блог
                li.navigation__item
                  a(href="index.html").navigation__link Авторизация
        
        .first-screen__info.first-screen__info_blog
          .info__pic
            img.info__img(src="/assets/images/pic/avatar.jpg", alt="Глушаков Сергей")
          h2.title.title_blog Блог
          .info__desc Статьи, которые я написал
          
        

    section.section.blog
        .triangle__wr
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").triangle
            polygon(points="0,0   0,86   500.8,86   500.8,75.5").triangle__left.triangle__left-white
            polygon( points="1000,0   1000,86   500,86   500,75.5").triangle__right.triangle__right-white


        aside.blog__nav.blog__nav_hidden
          a.blog__trigger(href="#!")
          ul.blog__list
            li.blog__item.blog__item_active
              a(href="#sass").blog__link
                span.blog__link-text Самое важное в SASS
            li.blog__item
              a(href="#expedient").blog__link
                span.blog__link-text Приёмы в верстке, без которых не обходится не один сайт
            li.blog__item
              a(href="#gulp").blog__link
                span.blog__link-text Самый необходимый набор Gulp плагинов
            li.blog__item
              a(href="#pug").blog__link
                span.blog__link-text Почему я выбрал Pug

        .blog__articles
          article.article(id="sass")
            h3.article__title Самое важное в SASS
            .article__date 22 ноября 2016
            .article__text
              p Практический опыт показывает, что выбранный нами инновационный путь представляет собой интересный эксперимент проверки новых предложений. Равным образом постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании экономической целесообразности принимаемых решений! Дорогие друзья, новая модель организационной деятельности влечет за собой процесс внедрения и модернизации ключевых компонентов планируемого обновления.
              | Значимость этих проблем настолько очевидна, что постоянное информационно-техническое обеспечение нашей деятельности позволяет оценить значение форм воздействия.
              p Равным образом сложившаяся структура организации требует от нас анализа дальнейших направлений развития проекта! Равным образом новая модель организационной деятельности требует определения и уточнения всесторонне сбалансированных нововведений. Практический опыт показывает, что консультация с профессионалами из IT влечет за собой процесс внедрения и модернизации модели развития?
            
          
          article.article(id="expedient")
            h3.article__title Приёмы в верстке, без которых не обходится не один сайт
            .article__date 21 ноября 2016
            .article__text
            p Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает актуальность новых предложений. Задача организации, в особенности же консультация с профессионалами из IT способствует повышению актуальности экономической целесообразности принимаемых решений! Равным образом новая модель организационной деятельности играет важную роль в формировании дальнейших направлений развития проекта. Задача организации, в особенности же новая модель организационной деятельности требует от нас системного анализа дальнейших направлений развития проекта. Дорогие друзья, курс на социально-ориентированный национальный проект требует от нас системного анализа форм воздействия.

          article.article(id="gulp")
            h3.article__title Самый необходимый набор Gulp плагинов
            .article__date 20 ноября 2016
            .article__text
              p С другой стороны постоянное информационно-техническое обеспечение нашей деятельности способствует подготовке и реализации форм воздействия. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании экономической целесообразности принимаемых решений? Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT способствует подготовке и реализации позиций, занимаемых участниками в отношении поставленных задач? Повседневная практика показывает, что постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании форм воздействия. Значимость этих проблем настолько очевидна, что повышение уровня гражданского сознания представляет собой интересный эксперимент проверки существующих финансовых и административных условий?
              p Повседневная практика показывает, что постоянное информационно-техническое обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития проекта. Повседневная практика показывает, что повышение уровня гражданского сознания требует от нас анализа позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том, что дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений! Таким образом, курс на социально-ориентированный национальный проект создаёт предпосылки качественно новых шагов для форм воздействия. Разнообразный и богатый опыт сложившаяся структура организации напрямую зависит от направлений прогрессивного развития. Равным образом выбранный нами инновационный путь играет важную роль в формировании направлений прогрессивного развития.

          article.article(id="pug")
            h3.article__title Почему я выбрал Pug
            .article__date 18 ноября 2016
            .article__text
              p Таким образом, дальнейшее развитие различных форм деятельности требует от нас анализа системы масштабного изменения ряда параметров. Равным образом реализация намеченного плана развития требует от нас анализа форм воздействия! Дорогие друзья, выбранный нами инновационный путь требует от нас системного анализа экономической целесообразности принимаемых решений. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требует от нас системного анализа форм воздействия.

    section.footer__blog
      include ../common/footer.pug