extends ../template

block variables
  - var title = 'Блог'

block content
  .wrapper.wrapper_blog
    section.first-screen.first-screen_blog
      header.first-screen__header
        ul.socials.socials__header
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_vk
                use(xlink:href="/assets/images/icons/sprite.svg#vk")
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_git
                use(xlink:href="/assets/images/icons/sprite.svg#github")
          li.socials__item
            a.socials__link(href="#")
              svg.icon.icon_in
                use(xlink:href="/assets/images/icons/sprite.svg#in")
        nav.navigation.navigation_header
          .navigation__trigger
            a(href="#").navigation__trigger-link
              svg.icon.icon_hamburger
                use(xlink:href="/assets/images/icons/sprite.svg#hamburger")
            .navigation__wrap
              ul.navigation__list
                li.navigation__item
                  a(href="my-works.html").navigation__link Мои работы
                li.navigation__item
                  a(href="about.html").navigation__link Обо мне
                li.navigation__item
                  a(href="blog.html").navigation__link Блог
                li.navigation__item
                  a(href="index.html").navigation__link Авторизация
        
        .first-screen__info.first-screen__info_blog
          .info__pic
            img.info__img(src="/assets/images/pic/avatar.jpg", alt="Глушаков Сергей")
          h2.title.title_blog Блог
            svg.title.title_bg_blog
              use(xlink:href="/assets/images/icons/sprite.svg#blog_header")
          .info__desc Статьи, которые я написал
          
        .triangle__wr
          svg.triangle
            .triangle__left
            .triangle__right


      section.section.blog
        aside.blog__nav.blog__nav_hidden
          a.blog__trigger(href="#!")
          ul.blog__list
            li.blog__item.blog__item_active
              a(href="#sass").blog__link Самое важное в SASS
            li.blog__item.blog__item_active
              a(href="#expedient").blog__link Приёмы в верстке, без которых не обходится не один сайт
            li.blog__item.blog__item_active
              a(href="#gulp").blog__link Самый необходимый набор Gulp плагинов
            li.blog__item.blog__item_active
              a(href="#pug").blog__link Почему я выбрал Pug

        .blog__articles
          article.article(id="sass")
          h3.article__title Самое важное в SASS
          .article__date 22 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Далеко-далеко за словесными горами в стране.
          
          article.article(id="expedient")
          h3.article__title Приёмы в верстке, без которых не обходится не один сайт
          .article__date 21 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Далеко-далеко за словесными горами в стране.

          article.article(id="gulp")
          h3.article__title Самый необходимый набор Gulp плагинов
          .article__date 20 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Далеко-далеко за словесными горами в стране.

            article.article(id="pug")
          h3.article__title Почему я выбрал Pug
          .article__date 18 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            p Далеко-далеко за словесными горами в стране.

  include ../common/footer.pug