extends ../template

block variables
  - var title = 'Добро пожаловать GS'

block content
  .wrapper
    .welcome-wr
      .welcome-header
        button.welcome-header__btn(href="#", title="Авторизация") Авторизация
           
      main.welcome
        .welcome__user-img  
          img.welcome__pic(src="/assets/images/pic/avatar.jpg", alt="Глушаков Сергей")
        h1.welcome__user-name Глушаков Сергей
        .auth__user-descr Личный сайт веб разработчика

        ul.socials.socials_welcome
          li.socials__item
            a.socials__link(href="#") Vk
              svg.icon.icon_vk
                use()
          li.socials__item
            a.socials__link(href="#") Git
              svg.icon.icon_git
                use()
          li.socials__item
            a.socials__link(href="#") In
              svg.icon.icon_in
                use()
        nav.block-nav
          ul.block-nav__list
            li.block-nav__list-item
              a.block-nav__link(href="#") Мои работы
            li.block-nav__list-item
              a.block-nav__link(href="#") Обо мне  
            li.block-nav__list-item
              a.block-nav__link(href="#") Блок

      //- блок с авторизацией написать после созвона с Максом (надо понять как делать флип)

      footer.footer.footer_welcome
        .welcome__footer-copyright
          | © Сергей Глушаков | создано с любовью в LoftSchool | 2017
          