
$green : #4e8839;
$light-green: #6c9c5a;
$gray: #373e42;
$light-gray: #566358;

@import 'layout/mixins';
@import 'layout/normalize';
@import 'layout/adjustment';
@import 'layout/fonts';
@import 'common/socials';
@import 'blocks/welcome';
@import 'media/desktop';
@import 'media/laptop';
@import 'media/tablets';
@import 'media/phones';
